<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/head") %>
  </head>
  <body>
    <header><%- include ("partials/nav") %></header>
    <main>
      <img src="<%= user.thumbnail %>" alt="head" />
      <h3>Username:<%= user.name %></h3>
      <h4>Personal token: <%= user.ID %></h4>
      <hr />
      <h4>Spotify收藏歌曲</h4>
      <div>...</div>
      <h4>KKBOX收藏歌曲</h4>
      <div>...</div>
    </main>
    <footer></footer>
  </body>
</html>
